![oesonlearning_logo.jpeg]()    PANDAS AND NUMPY

# NumPy (Numerical Python):
NumPy is a powerful library for numerical computing in Python. It provides support for multi-dimensional arrays, mathematical functions, and random number generation.

**Key Features of NumPy:**
1. N-Dimensional Arrays (ndarray):
- Provides efficient storage and manipulation of large numerical datasets.
- Supports indexing, slicing, and broadcasting.

2. Mathematical Operations:
- Functions for element-wise operations and matrix manipulations.
- Includes linear algebra, Fourier transforms, and random number generation.

3. Performance:
- Operations are implemented in C, making them faster than equivalent Python code using lists.

4. Integration:
- Integrates with C/C++ and Fortran code.
- Acts as a foundation for other data science libraries like Pandas and SciPy.

**Commonly Used Functions:**
- np.array(): Create an array.
- np.zeros(), np.ones(), np.empty(): Create arrays with specific initial values.
- np.arange(), np.linspace(): Generate sequences.
- np.mean(), np.median(), np.sum(), np.std(): Statistical operations.
- np.dot(): Matrix multiplication.
- np.random: Random number generation.

# Pandas (Python Data Analysis Library):
Pandas is a library for data manipulation and analysis, built on top of NumPy. It introduces two primary data structures:

1. Series: 1D labeled array.
2. DataFrame: 2D labeled, size-mutable, heterogeneous table.

**Key Features of Pandas:**

1. Data Structures:
- Series: Similar to a 1D array but with labels (index).
- DataFrame: Tabular data with labeled axes (rows and columns).

2. Data Manipulation:
- Filtering, grouping, and aggregation.
- Handling missing data (NaN).

3. File I/O:
- Supports reading/writing data from CSV, Excel, JSON, SQL, etc.

4. Data Alignment and Reshaping:
- Aligns data automatically based on labels.
- Supports reshaping data with pivot tables and stacking/unstacking.

5. Time Series Analysis:
- Powerful tools for working with time-indexed data.

**Commonly Used Functions:**
- pd.read_csv(): Read data from a CSV file.
- pd.DataFrame(): Create a DataFrame.
- .head(), .tail(): Preview rows of a DataFrame.
- .info(), .describe(): Get metadata and summary statistics.
- .groupby(): Group and aggregate data.
- .merge(), .join(): Combine datasets.

# 1. How to create a DataFrame from a NumPy array with labeled rows and columns?

In [29]:
''' You have a NumPy array:
arr = np.array([[1, 2], [3, 4], [5, 6]]).
Convert it into a Pandas DataFrame with columns named A and B, and rows labeled as Row1, Row2, and Row3.'''
import numpy as np
import pandas as pd
arr = np.array([[1, 2], [3, 4], [5, 6]])
arr_df = pd.DataFrame(arr, columns=["A", "B"], index=["Row1", "Row2", "Row3"])
print(arr_df)

      A  B
Row1  1  2
Row2  3  4
Row3  5  6

# 2. How to handle missing data in a DataFrame?

In [32]:
# You are given a DataFrame:
'''data = {'Name': ['Alice', 'Bob', None],
        'Age': [25, None, 30],
        'Salary': [50000, 60000, None]}
df = pd.DataFrame(data)'''

#Handle missing values by:
'''
1. Replacing None in the Name column with "Unknown".
2. Filling missing values in the Age column with the column mean.
3. Dropping rows where the Salary is missing.'''
#fillna parameters - mention what to fill with; in place
#dropna parameters - subset = mention from which column the null values to be dropped; in place
data = {'Name': ['Alice', 'Bob', None],
        'Age': [25, None, 30],
        'Salary': [50000, 60000, None]}
df = pd.DataFrame(data)

df['Name'].fillna("Unknown", inplace= True)
print(df)

#2
df['Age'].fillna(df['Age'].mean(),inplace= True)
print(df)

#3
df.dropna(subset=['Salary'],inplace= True)
print(df)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Unknown  30.0      NaN
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  27.5  60000.0
2  Unknown  30.0      NaN
    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob  27.5  60000.0

# 3. How to calculate the dot product of two matrices in NumPy?

In [34]:
'''Given two matrices:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])
Compute their dot product.'''

A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])
A_dot_B = np.dot(A, B)
print(A_dot_B)

[[19 22]
 [43 50]]

# 4. How to sort a Pandas DataFrame by multiple columns?

In [36]:
'''You are given the following DataFrame:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 25],
        'Salary': [50000, 60000, 45000]}
df = pd.DataFrame(data)
Sort the DataFrame first by Age in ascending order, and then by Salary in descending order.'''
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 25],
        'Salary': [50000, 60000, 45000]}
df = pd.DataFrame(data)
df_sorted = df.sort_values(by =['Age', 'Salary'], ascending =[True, False])
print(df_sorted)

      Name  Age  Salary
0    Alice   25   50000
2  Charlie   25   45000
1      Bob   30   60000

# 5. How to perform group aggregation in Pandas?

In [38]:
'''You are given the following DataFrame:
data = {'Department': ['HR', 'IT', 'HR', 'IT', 'Finance'],
        'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Salary': [50000, 60000, 45000, 80000, 70000]}
df = pd.DataFrame(data)
Find the average salary for each department.'''

data = {'Department': ['HR', 'IT', 'HR', 'IT', 'Finance'],
        'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Salary': [50000, 60000, 45000, 80000, 70000]}
df = pd.DataFrame(data)
df.groupby(["Department"])['Salary'].mean()

Department
Finance    70000.0
HR         47500.0
IT         70000.0
Name: Salary, dtype: float64

# 6. How to find unique values and their counts in a NumPy array?

In [40]:
'''Given the array:
arr = np.array([1, 2, 2, 3, 4, 4, 4, 5])
Find the unique values and their counts.'''
arr = np.array([1, 2, 2, 3, 4, 4, 4, 5])
unique_values, counts = np.unique(arr, return_counts=True)
print("Unique values:", unique_values)
print("Counts:", counts)

Unique values: [1 2 3 4 5]
Counts: [1 2 1 3 1]

# 7. How to merge two DataFrames in Pandas?

In [42]:
'''You are given two DataFrames:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [2, 3], 'Salary': [60000, 70000]})
Perform an inner merge on the ID column.'''
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [2, 3], 'Salary': [60000, 70000]})
df_merged = pd.merge(df1, df2, how='inner', on='ID')
print(df_merged)

   ID Name  Salary
0   2  Bob   60000

# 8. How to reshape a NumPy array?

In [44]:
'''You have an array:
arr = np.array([1, 2, 3, 4, 5, 6])
Reshape it into a 2x3 matrix.'''

# 1 dimensional array to 2 dimensional array with 2 rows and 3 columns: 
#Reshape function- parameters : no of rows and no. of columns
arr = np.array([1, 2, 3, 4, 5, 6])
arr_reshaped= arr.reshape(2,3)
print(arr_reshaped)

[[1 2 3]
 [4 5 6]]

# 9. How to handle large CSV files efficiently in Pandas?

In [52]:
'''A large CSV file needs to be processed in chunks. Demonstrate how to read the file in chunks and compute the total sum of a
column named Sales.'''

#Mention the file path
file_path = "  "

# Mention the chunk size, the number of rows in each chunk
chunksize = 1000

#Create a empty list to store all chunks
chunks = []

#Loop over and read the file in chunks and append the chunks in the created list
for chunk in pd.read_csv(file_path, chunksize= chunksize):
    chunks.append(chunk)

#if needed, concatenate and create a single dataframe for all chunkd
df_chunks = pd.concat(chu
data = {'City': ['New York', 'New York', 'Los Angeles', 'Los Angeles'],
        'Year': [2020, 2021, 2020, 2021],
        'Sales': [200, 250, 300, 400]}
df = pd.DataFrame(data)

#compute the total of the "sales" column
df['Sales'].sum()

1150

# 10. How to create a pivot table in Pandas?

In [48]:
'''You are given a DataFrame:
data = {'City': ['New York', 'New York', 'Los Angeles', 'Los Angeles'],
        'Year': [2020, 2021, 2020, 2021],
        'Sales': [200, 250, 300, 400]}
df = pd.DataFrame(data)
Create a pivot table showing sales for each city by year.'''

data = {'City': ['New York', 'New York', 'Los Angeles', 'Los Angeles'],
        'Year': [2020, 2021, 2020, 2021],
        'Sales': [200, 250, 300, 400]}
df = pd.DataFrame(data)
df_pivot_table = df.pivot_table(index= "Year", columns ="City", values = "Sales")
print(df_pivot_table)

City  Los Angeles  New York
Year
2020          300       200
2021          400       250

--------------------------------------------------------------

# ---------------------------------ADVANCED---------------------------------

# 1. How to perform a sliding window operation in Pandas?

In [ ]:
'''You are given a DataFrame:
data = {'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
Calculate the rolling average with a window size of 3.'''
data = {'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
#Two functions - rolling and mean
df['Rolling Avg'] =df['Value'].rolling(window=3).mean()
print(df)

# 2. How to efficiently apply a custom function row-wise in Pandas?

In [ ]:
#'''You are given the following DataFrame:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
#Write a 

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# 3. How to use NumPy for conditional indexing and masking?

In [ ]:
'''You are given the NumPy array:You are given the NumPy array:
arr = np.array([10, 15, 20, 25, 30, 35])
Extract all values greater than 20, and replace them with -1.'''

arr = np.array([10, 15, 20, 25, 30, 35])
condition= arr>20
replace_value = -1
arr[condition] = replace_value
print(arr)

# 4. How to find the correlation between two columns in a Pandas DataFrame?

In [ ]:
'''You are given a DataFrame:
data = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1]}
df = pd.DataFrame(data)
Find the Pearson correlation coefficient between X and Y.'''
data = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1]}
df = pd.DataFrame(data)
df_corr = df['X'].corr(df['Y'])
print("Pearsons correlation coefficient :", df_corr)

# 5. How to merge two large DataFrames efficiently in Pandas?

In [ ]:
'''You are given two DataFrames:
df1 = pd.DataFrame({'ID': range(1, 1000001), 'Value1': range(1, 1000001)})
df2 = pd.DataFrame({'ID': range(500001, 1500001), 'Value2': range(1, 1000001)})
Perform an efficient merge on the ID column.'''
df1 = pd.DataFrame({'ID': range(1, 1000001), 'Value1': range(1, 1000001)})
df2 = pd.DataFrame({'ID': range(500001, 1500001), 'Value2': range(1, 1000001)})

# Both ID columns are of same data types "int"
#Now setting the ID column as index for both dtaframes to facilitate efficient merging
df1.set_index("ID", inplace = True)
df2.set_index("ID", inplace = True)
#Now sorting both dataframes based on their index"ID"
df1.sort_index(inplace = True)
df2.sort_index(inplace = True)
#now merging both dataframes
merged_df = pd.merge(df1, df2, right_index= True, left_index=True, how="inner", sort=False)
print(merged_df)